.container {
  margin: 8px 0;
}

.form {
  padding: 18px 20px 18px;
  background-color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.titleInput {
  border: none;
  border-radius: 4px;
  font-size: 22px;
  padding: 18px 10px;
  box-shadow: none;
  color: rgb(85, 85, 85);
  width: 100%;
  font-weight: 600;
  outline: none;
  box-sizing: border-box;
  background-color: white;
}

.titleInput::placeholder {
  font-style: italic;
  opacity: 0.3;
}

.titleInput:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.est {
  padding: 8px 0;
}

.addButton {
  width: 100%;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  cursor: pointer;
  border: 2px dashed rgba(255, 255, 255, 0.4);
  opacity: 0.8;
  font-weight: bold;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.est > span {
  color: rgb(85, 85, 85);
  margin-bottom: 2px;
  font-weight: bold;
}

.estInputs {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.estInputs > input {
  border-radius: 6px;
  background-color: rgb(239, 239, 239);
  font-size: 16px;
  padding: 10px;
  box-shadow: none;
  border: medium;
  color: rgb(85, 85, 85);
  width: 75px;
  font-weight: bold;
  margin-top: 10px;
}

.estInputs > input:last-of-type {
  margin-right: 10px;
}

.estInputs > input:hover {
  background-color: rgb(239, 239, 239);
}

.estInputs > input:focus {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: rgb(239, 239, 239);
}

.seperator {
  height: 100%;
  display: inline-block;
  color: rgb(170, 170, 170);
  margin: 0 8px;
}

.estInputs > button {
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 12px;
  display: inline-block;
  width: 40px;
  background-color: white;
  height: 100%;
  color: rgb(85, 85, 85);
  border: 1px solid rgb(223, 223, 223);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  margin: 10px 2px 0;
}

.estInputs > button > img {
  width: 10px;
  height: 10px;
  opacity: 0.6;
}

.note {
  border-radius: 4px;
  background-color: rgb(239, 239, 239);
  border: medium;
  padding: 10px 14px;
  color: rgb(85, 85, 85);
  font-size: 15px;
  line-height: 1.4em;
  box-sizing: border-box;
  margin: 8px 0;
  display: block;
  max-width: 100%;
  width: 100%;
}

.note::placeholder {
  opacity: 0.2;
  font-weight: 300;
  font-size: 14px;
}

.note:focus {
  outline: none;
  border: none;
}

.addButtons {
  display: flex;
  padding: 8px 0px;
}

.addButtons > button {
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
  font-size: 14px;
  background: none;
  border: medium;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  letter-spacing: 0.02em;
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
}

.addButtons > button span {
  text-decoration: underline;
}

.actions {
  display: flex;
  padding: 14px 20px;
  text-align: right;
  background-color: rgb(239, 239, 239);
  align-items: center;
  justify-content: space-between;
  gap: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.actions > .rightActions {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.deleteButton {
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
  font-size: 14px;
  padding: 8px 12px;
  min-width: 70px;
  margin-right: 14px;
  background: none;
  border: medium;
  color: rgb(136, 136, 136);
  font-weight: bold;
  box-shadow: none;
  display: none;
  align-items: center;
}

.deleteButton.visible {
  display: flex;
}

.cancelButton {
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
  font-size: 14px;
  padding: 8px 12px;
  min-width: 70px;
  margin-right: 14px;
  background: none;
  border: medium;
  color: rgb(136, 136, 136);
  font-weight: bold;
  box-shadow: none;
  display: flex;
  align-items: center;
}

.saveButton {
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
  font-size: 14px;
  padding: 8px 12px;
  min-width: 70px;
  background-color: rgb(34, 34, 34);
  border: 2px solid rgb(34, 34, 34);
  color: white;
  font-weight: bold;
  box-shadow: none;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px;
}
