.container {
  margin-top: 28px;
  padding: 18px 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.item {
  margin: 0px 8px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.7);
  line-height: 34px;
}

.number {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 24px;
  margin-left: 1px;
  margin-right: 2px;
  line-height: 34px;
}

.seperator {
  margin-left: 1px;
  line-height: 34px;
  margin-right: 3px;
  color: rgba(255, 255, 255, 0.7);
}
