.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  padding-bottom: 14px;
  margin: 20px auto 20px;
  max-width: 480px;
}

.header > span {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.header .more {
  transform: rotate(90deg);
  border-radius: 4px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  font-size: 13px;
  padding: 8px;
  border: medium;
  color: white;
}

.taskList {
  padding: 0;
  margin-bottom: 20px;
}

.taskItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 18px 14px;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 8px;
  font-size: 16px;
  transition: unset;
  box-shadow: none;
  transform: translateY(2px);
}

.dropdownItem {
  color: rgb(79, 43, 45);
  display: flex;
  align-items: center;
  padding: 10px 0;
  font-size: 14px;
  cursor: pointer;
}

.dropdownItem > span {
  margin-right: 8px;
}
